body {
    font-family: 'Antonio', sans-serif; /* Todo body recebe a fonte Antonio como principal e sans-serif como secundaria */
}

header{
    background: #ffffd1;
    padding: 0px;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.imagem-cabeçalho{
    width: 40%;
    margin: -20px;
}

nav{
    position: absolute;
    top: 150px;
    right: 70px;
}

nav li {
    display: inline;
    margin: 10px;
}

nav a{
    text-transform: uppercase; /* Transforma todas as letras em maiusculas */
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    transition: 0.7s;
}

nav a:hover{
    opacity: 0.5;
    font-size: 33px;
}

main {
    background: linear-gradient(#ffffd1, white);
    padding: 0px;
}

.sobre-mim {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.sobre-mim h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
    color: #000000;
    margin-top: 0;
}

.sobre-mim p{
    text-align: left;
    font-size: 25px;
    padding: 20px 20px 20px 20px;
}
.eu-foto {
    border: rgb(153, 130, 238) solid 5px;
    border-radius: 15px;
    width: 30%;
    height: 30%;
    float: right;
    margin-right: 2em;
    margin-bottom: 1em;
    margin: 20px 20px 20px 20px;
}

footer {
    height: 270px;
    background: white;
}
.linha-vertical {
    position: absolute;
    top: 60px;
    left: 530px;
}

.copyright {
    position: absolute;
    top: 120px;
    left: 600px;
    font-size: 24px;
}

#numero {
    top: 190px;
}

#email {
    top: 260px;
}

#sobre-mim {
    transition: 0.7s;
}